# version: "3.8"

# services:
#   backend:
#     build: ./backend
#     ports:
#       - "8081:8080"
#     container_name: backend-test

#   frontend:
#     build: ./frontend
#     ports:
#       - "3001:3000"
#     container_name: frontend-test
#     depends_on:
#       - backend


version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge




# version: "3.8"

# services:
#   mysql:
#     image: mysql:8.0
#     container_name: mysql-db
#     ports:
#       - "3307:3306"
#     environment:
#       MYSQL_ROOT_PASSWORD: root
#       MYSQL_DATABASE: demo_db
#     volumes:
#       - mysql_data:/var/lib/mysql
#     networks:
#       - app-network

#   backend:
#     image: backend-docker
#     ports:
#       - "8081:8080"
#     depends_on:
#       - mysql
#     networks:
#       - app-network

#   frontend:
#     image: fronntend-docker
#     ports:
#       - "3001:3000"
#     depends_on:
#       - backend
#     networks:
#       - app-network

# networks:
#   app-network:
#     driver: bridge

# volumes:
#   mysql_data:
