version: "1.0"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    networks:
      - cep-network

  frontend:
    build: ./frontend
    container_name: frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    networks:
      - cep-network

networks:
  cep-network:
    driver: bridge