/* Base gutter bar */
.split .gutter {
    background-color: #2c2c2c;
    /* default silver/dark */
    /* transition: background-color 0.2s ease; */
}

/* Horizontal (between left-right panels) */
.split .gutter.gutter-horizontal {
    cursor: col-resize !important;
    width: 6px;
}

/* Vertical (between top-bottom panels) */
.split .gutter.gutter-vertical {
    cursor: row-resize !important;
    height: 6px;
}

/* Hover highlight */
.split .gutter:hover {
    /* background-color: #3a86ff; */
    background-color: #bfbfbf;

    /* blue highlight */
}

/* While dragging */
.split .gutter-active {
    background-color: #4ea8ff !important;
    /* brighter blue */
}

@layer base {
    :root {
        --sidebar: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.145 0 0);
        --sidebar-primary: oklch(0.205 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.97 0 0);
        --sidebar-accent-foreground: oklch(0.205 0 0);
        --sidebar-border: oklch(0.922 0 0);
        --sidebar-ring: oklch(0.708 0 0);
    }

    .dark {
        --sidebar: oklch(0.205 0 0);
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.488 0.243 264.376);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.269 0 0);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.439 0 0);
    }
}